<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Muebles | Savilla SAS</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/misionyvision.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="shortcut icon" href="../img/ImagenesGeneral/Log BIC1-min.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../javascript/likeanddislike.js"></script>
  </head>
  <body class="fondo">
    <header>

        <!--Carrousel de imagenes-->
        <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel" >
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="../img/ImagenesBlog/General/fondoblog1-min.png" class="d-block w-100 carrousel" alt="...">
                  <div class ="mision" class="carousel-caption d-none d-md-block">
                      <p><b><span class="Fuente2 Fuente1">¡CONOCE LO ULTIMO!</span></b></p> <Br>
                      <p><span class="Fuente2">Si te gusta el canto de los pájaros no compres jaulas, planta árboles.</span></p>
                  </div>
              </div>
          </div>
        </div>

        <!--Navegador-->
        <nav class="navbar fixed-top detalles rounded-bottom-4">
          <div class="container-fluid">
            <li class="nav-item"></li>
              <a class="nav-link" href="../index.html"><img src="../img/ImagenesGeneral/Log BIC1-min.png" alt="" width="60" height="40"> R. SAVILLA SAS BIC </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/recoleccion.html">RECOLECCCION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/marketplace-muebles.html">PRODUCTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/contacto.html">ACERCA DE NOSOTROS</a>
            </li>
            <button class="navbar-toggler bg-light-subtle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar " aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <form class="d-flex mt-3" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/recoleccion.html">RECOLECCCION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/marketplace-muebles.html">PRODUCTOS</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      NUESTRO BLOG
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../views/blog.html">VISTA GENERAL</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="Aprende.html">APRENDE A RECICLAR</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="Ultimamente.html">QUE HEMOS HECHO ULTIMAMENTE</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ACERCA DE NOSOTROS
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../views/QuienesSomos.html">QUIENES SOMOS</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/Historia.html">NUESTRA HISTORIA E IMPACTO</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/MisionVision.html">MISION Y VISION</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/ubicacion.html">UBICACION</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/contacto.html">CONTACTO</a></li>
                    </ul>
                  </li>
                  <li class="Menufin">
                    Hecho por <img src="../img/logos/JDJLOGO-min.png" alt="" width="50px" height="50px">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
          <script>
            const navEl = document.querySelector('.navbar');
          
            window.addEventListener('scroll', () => {
            
                if (window.scrollY >= 56){
                    navEl.classList.add('navbar-scrolled')
                   
                } else if (window.scrollY < 56)
                {
                    navEl.classList.remove('navbar-scrolled')
                }
            });
          </script>


    </header>
    <script src="../javascript/color.js"></script>
<div class="list-group sideButtons">
  <button id="gpill" class="list-group-item" target="_blank" onclick="document.getElementById('contenido').style.fontSize='1.4em'">A</button>
  <button id="gpill" class="list-group-item" target="_blank" onclick="document.getElementById('contenido').style.fontSize='1em'">a</button>
  <button id="gpill" class="btncolor list-group-item" target="_blank" onclick="myFunction()"><img src="../img/logos/brillo-y-contraste-minblanco-min.png" alt="" class="" width="15" onclick="white()"></button>
</div>
    <!--Container y principal-->
    <div class="container" id="contenido">
        <main>

          <div class="row p-3 mt-3 text-center">
            <div class="col">
              <h2>Los más recientes</h2>
            </div>
          </div>

          <!--Slider-->
          <div class="row pt-5">
            <div id="carouselExampleCaptions" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active carruselacomodado">
                  <img src="../img/ImagenesBlog/General/articulo1_img1-min.png" class="d-block w-30 rounded-4" alt="..." width="400" height="310">
                  <div class="carousel-caption d-none d-md-block text-primary textoacomodado">
                    <div class="row">
                      <div class="col text-dark ">
                        <h3 class="fw-bold text-success">¡Ventanas en lugar de paredes!</h3>
                        <br>
                        <p class="card-text CambioColor">El estudio madrileño de arquitectos SUMA ha construido un edificio de ocho pisos cuya estructura es de madera, lo que convierte cada vivienda en una casa-estantería.</p>
                        <p class="card-text"><small class="CambioColor">Hace 1 mes</small></p>
                        <br>
                        <a href="#" class="text-decoration-none text-light font-monospace"> <button class="botoninfo">Conoce Más</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item carruselacomodado">
                  <img src="../img/ImagenesBlog/General/articulo2_img2-min.png" class="d-block w-30 rounded-4" alt="..." width="400" height="310">
                  <div class="carousel-caption d-none d-md-block text-primary textoacomodado">
                      <div class="row">
                          <div class="col text-dark">
                            <h3 class="fw-bold text-success">¡Muebles y Redes sociales!</h3>
                            <br>
                            <p class="card-text CambioColor">Alargar la vida de los objetos y preservar el medioambiente mientras acumula cuentas especializadas y millones de visualizaciones en TikTok e Instagram.</p>
                            <p class="card-text"><small class="CambioColor">Hace 2 meses</small></p>
                            <br>
                            <a href="#" class="text-decoration-none text-light font-monospace"> <button class="botoninfo">Conoce Más</button></a>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
                <span class="visually-hidden text-bg-dark">Next</span>
              </button>
            </div>
          </div>

          <hr>
          <br>
          <br>
          <br>
          <!--BLOG-->
          
          <center>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="car-blog-col-1">
                <div class="card rounded-4 CambioColor1">
                  <img src="../img/ImagenesBlog/General/articulo1_img1-min.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title text-success">¡Ventanas en lugar de paredes!</h4>
                    <br>
                    <p class="card-text">El estudio madrileño de arquitectos SUMA ha construido un edificio de ocho pisos cuya estructura es de madera, lo que convierte cada vivienda en una casa-estantería.</p>
                    <br>
                    <a href="#" class="text-decoration-none text-light font-monospace"> <button class="botoninfo">Conoce Más</button></a>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control CambioColor" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comentanos</label>
                  </div>
                  <br>
                  <div class="col-footer-2">
                 
                    <i onclick="like(this)" class="fa fa-thumbs-up" style="font-size:36px" id="id"></i>
                    <i onclick="dislike(this)" class="fa fa-thumbs-down dislike" style="font-size:36px" id="id2"></i>
                   
                  </div>
                  <hr>
                  <div class="card-footer-1">
                    <small class="CambioColor1">Ultima actualización hace 1 mes</small>
                  </div>
                </div>
              </div>

              <div class="car-blog-col-2">
                <div class="card rounded-4 CambioColor1">
                  <img src="../img/ImagenesBlog/General/articulo2_img2-min.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title text-success">¡Muebles y Redes sociales!</h4>
                    <br>
                    <p class="card-text">Alargar la vida de los objetos y preservar el medioambiente mientras acumula cuentas especializadas y millones de visualizaciones en TikTok e Instagram.</p>
                    <br>
                    <a href="#" class="text-decoration-none text-light font-monospace"> <button class="botoninfo">Conoce Más</button></a>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control CambioColor" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comentanos</label>
                  </div>
                  <br>
                  <div class="col-footer-2">
                    <i onclick="like(this)" class="fa fa-thumbs-up" style="font-size:36px" id="id"></i>
                    <i onclick="dislike(this)" class="fa fa-thumbs-down dislike" style="font-size:36px" id="id2"></i>
                   
                  </div>
                  <hr>
                  <div class="card-footer-1">
                    <small class="CambioColor1">Ultima actualización hace 2 meses</small>
                  </div>
                </div>
              </div>
            </div>


              
          </center>



        </main>
    </div>

    


    <!--Footer-->
    <footer class="footer mt-5 rounded-top-3 pt-3 pb-3">
      <div class="container-fluid">
          <div class="row text-center pt-3">
              <div class="col-sm-12 col-md-6 col-lg-2">
                  <a href="https://www.facebook.com/RSavillaSASBIC"><img src="../img/logos/facebook-min.png" class="img-fluid" alt="..." width="80" height="100"></a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2">
                <a href="https://www.instagram.com/r.savillasas/"><img src="../img/logos/instagram-min.png" class="img-fluid" alt="..." width="80" height="100"></a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2">
                <a href="https://www.linkedin.com/404/"><img src="../img/logos/linkedin-min.png" class="img-fluid" alt="..."width="80" height="100"> </a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <p>
                      Medios de contacto <br> 
                      <img src="../img/logos/logotipo-de-gmail-min.png" alt="img-fluid" width="20" height="20"> reciclajesavilla@hotmail.com<br>
                      <img src="../img/logos/llamada-telefonica-min.png" alt="img-fluid" width="20" height="20"> +57 3508382046
                  </p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <p>
                      Nuestras Sedes <br>
                      Patio Bonito Cra 86B # 42-06 Sur <br>
                  </p>
              </div>
          </div>

        </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>