<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacto | Savilla SAS</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/Contacto.css">
    <link rel="shortcut icon" href="../img/ImagenesGeneral/Log BIC1-min.png">
  </head>
  <body class="fondo">
    <header>
        <!--Navegador-->
        <nav class="navbar fixed-top detalles rounded-bottom-4 text-secondary">
          <div class="container-fluid">
            <li class="nav-item"></li>
              <a class="nav-link" href="../index.html"><img src="../img/ImagenesGeneral/Log BIC1-min.png" alt="" width="60" height="40"> R. SAVILLA SAS BIC </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/recoleccion.html">RECOLECCCION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/marketplace-muebles.html">PRODUCTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/contacto.html">ACERCA DE NOSOTROS</a>
            </li>
            <button class="navbar-toggler bg-light-subtle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar " aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <form class="d-flex mt-3" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/recoleccion.html">RECOLECCCION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/marketplace-muebles.html">PRODUCTOS</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      NUESTRO BLOG
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../views/blog.html">VISTA GENERAL</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="Aprende.html">APRENDE A RECICLAR</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="Ultimamente.html">QUE HEMOS HECHO ULTIMAMENTE</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ACERCA DE NOSOTROS
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../views/QuienesSomos.html">QUIENES SOMOS</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/Historia.html">NUESTRA HISTORIA E IMPACTO</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/MisionVision.html">MISION Y VISION</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/ubicacion.html">UBICACION</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/contacto.html">CONTACTO</a></li>
                    </ul>
                  </li>
                  <li class="Menufin">
                    Hecho por <img src="../img/logos/JDJLOGO-min.png" alt="" width="50px" height="50px">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
          <script>
            const navEl = document.querySelector('.navbar');
          
            window.addEventListener('scroll', () => {
            
                if (window.scrollY >= 56){
                    navEl.classList.add('navbar-scrolled')
                   
                } else if (window.scrollY < 56)
                {
                    navEl.classList.remove('navbar-scrolled')
                }
            });
          </script>

    </header>
    <script src="../javascript/color.js"></script>
    <div class="list-group sideButtons">
      <button id="gpill" class="list-group-item" target="_blank" onclick="document.getElementById('contenido').style.fontSize='1.4em'">A</button>
      <button id="gpill" class="list-group-item" target="_blank" onclick="document.getElementById('contenido').style.fontSize='1em'">a</button>
      <button id="gpill" class="btncolor list-group-item" target="_blank" onclick="myFunction()"><img src="../img/logos/brillo-y-contraste-minblanco-min.png" alt="" class="" width="15" onclick="white()"></button>
  </div>
    <!--Container y principal-->
    <div class="container" id="contenido">
        <main>
            <div class="row p-5 mt-5 text-center ">
                <div class="col">
                    <h2 class="fw-bold">CONTACTO</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 m-auto">
                        <a href="https://api.whatsapp.com/send?phone=573508382041"><img src="../img/logos/chatwats-min.png" alt="" width="300px"></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 m-auto ">
                        <img src="../img/logos/gmail-min.png" alt="" width="180px">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 m-auto ">
                        <img src="../img/logos/calendari-min.png" alt="" width="180px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4" >
                        <p class="Cuadro" id="contenido">Se puede comunicar con nosotros <br><br><b>WhatsApp</b> +57 3508382041 <br><b> Puede llamar a </b><br>+57 3508382046 <br>+57 3508382043 <br><b>Telefono</b><br>  (601) 4815874 </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <p class="Cuadro" id="contenido">Comuniquese con nosotros a los siguientes correos <br><br> Reciclajesavilla@hotmail.com <br>Savilla.ambiental@gmail.com </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <p class="Cuadro" id="contenido">Nos puede visitar en los siguinetes horarios <br><br> <b>Lunes - Viernes</b> <br> 7:00 A.M - 5:00 P.M <br><b>Sabado</b> <br> 7:00 A.M - 1:00 P.M <br> <b>Domingo y festivos</b> <br> NO tenemos servicio </p>
                    </div>
                </div>
            </div>

                <div class="row text-center m-auto">
                    <h1 class="fw-bold text-center">Ven conoce esta gran familia apasionada por cuidar el planeta <br>💚 </h1>
                    <img src="../img/torta-min.jpg" alt="img-fluid" class="Cuadro" width="520" height="550">
                </div>

        </main>
    </div>

    


    <!--Footer-->
    <footer class="footer mt-5 rounded-top-3 pt-3 pb-3">
      <div class="container-fluid">
          <div class="row text-center pt-3">
              <div class="col-sm-12 col-md-6 col-lg-2">
                  <a href="https://www.facebook.com/RSavillaSASBIC"><img src="../img/logos/facebook-min.png" class="img-fluid" alt="..." width="80" height="100"></a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2">
                <a href="https://www.instagram.com/r.savillasas/"><img src="../img/logos/instagram-min.png" class="img-fluid" alt="..." width="80" height="100"></a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2">
                <a href="https://www.linkedin.com/404/"><img src="../img/logos/linkedin-min.png" class="img-fluid" alt="..."width="80" height="100"> </a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <p>
                      Medios de contacto <br> 
                      <img src="../img/logos/logotipo-de-gmail-min.png" alt="img-fluid" width="20" height="20"> reciclajesavilla@hotmail.com<br>
                      <img src="../img/logos/llamada-telefonica-min.png" alt="img-fluid" width="20" height="20"> +57 3508382046
                  </p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <p>
                      Nuestras Sedes <br>
                      Patio Bonito Cra 86B # 42-06 Sur <br>
                  </p>
              </div>
          </div>

        </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>