<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Historia e impacto | Savilla SAS</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/historia.css">
    <link rel="shortcut icon" href="../img/ImagenesGeneral/Log BIC1-min.png">
  </head>
  <body class="fondo">
    <header>
        <!--Navegador-->
        <nav class="navbar fixed-top detalles rounded-bottom-4 text-secondary">
          <div class="container-fluid">
            <li class="nav-item"></li>
              <a class="nav-link" href="../index.html"><img src="../img/ImagenesGeneral/Log BIC1-min.png" alt="" width="60" height="40"> R. SAVILLA SAS BIC </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/recoleccion.html">RECOLECCCION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/marketplace-muebles.html">PRODUCTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/contacto.html">ACERCA DE NOSOTROS</a>
            </li>
            <button class="navbar-toggler bg-light-subtle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar " aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <form class="d-flex mt-3" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/recoleccion.html">RECOLECCCION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/marketplace-muebles.html">PRODUCTOS</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      NUESTRO BLOG
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../views/blog.html">VISTA GENERAL</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="Aprende.html">APRENDE A RECICLAR</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="Ultimamente.html">QUE HEMOS HECHO ULTIMAMENTE</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ACERCA DE NOSOTROS
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../views/QuienesSomos.html">QUIENES SOMOS</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/Historia.html">NUESTRA HISTORIA E IMPACTO</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/MisionVision.html">MISION Y VISION</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/ubicacion.html">UBICACION</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="../views/contacto.html">CONTACTO</a></li>
                    </ul>
                  </li>
                  <li class="Menufin">
                    Hecho por <img src="../img/logos/JDJLOGO-min.png" alt="" width="50px" height="50px">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
          <script>
            const navEl = document.querySelector('.navbar');
          
            window.addEventListener('scroll', () => {
            
                if (window.scrollY >= 56){
                    navEl.classList.add('navbar-scrolled')
                   
                } else if (window.scrollY < 56)
                {
                    navEl.classList.remove('navbar-scrolled')
                }
            });
          </script>

<script src="../javascript/color.js"></script>
<div class="list-group sideButtons">
  <button id="gpill" class="list-group-item" target="_blank" onclick="document.getElementById('contenido').style.fontSize='1.4em'">A</button>
  <button id="gpill" class="list-group-item" target="_blank" onclick="document.getElementById('contenido').style.fontSize='1em'">a</button>
  <button id="gpill" class="btncolor list-group-item" target="_blank" onclick="myFunction()"><img src="../img/logos/brillo-y-contraste-minblanco-min.png" alt="" class="" width="15" onclick="white()"></button>
</div>

    </header>
    <!--Container y principal-->
    <div class="container" id="contenido">
        <main>
            
            <div class="row p-5 mt-5 text-center">
                <div class="col-sm-12 col-md-6 col-lg-6 m-auto text-center">
                  <h2 class="fw-bold">CONOCE NUESTRA HISTORIA</h2>
                </div>
              </div>
            <!--Timeline-->
                <div class="row timeline">

                    <div id="carouselExampleIndicators" class="carousel slide CambioColor" >
                        <div class="carousel-indicators ">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active CambioColor" aria-current="true" aria-label="Slide 1">
                            <h4>2018</h4>
                            <img src="../img/TimeLineImg/agua-min.png" alt="" class="w-25 logocarrusel mt-1 ms-2">
                        </button>
    
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="CambioColor" aria-label="Slide 2">
                            <h4>2019</h4>
                            <img src="../img/TimeLineImg/reciclar-min.png" alt="" class="w-25 logocarrusel mt-1 ms-2">
                          </button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="CambioColor" aria-label="Slide 3">
                            <h4>2020</h4>
                            <img src="../img/TimeLineImg/reciclaje-min.png" alt="" class="w-25 logocarrusel mt-1 ms-2">
                          </button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="CambioColor" aria-label="Slide 4">
                            <h4>2021</h4>
                            <img src="../img/TimeLineImg/hoja-min.png" alt="" class="w-25 logocarrusel mt-1 ms-2">
                          </button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="CambioColor" aria-label="Slide 5">
                            <h4>2022</h4>
                            <img src="../img/TimeLineImg/ecologia-min.png" alt="" class="w-25 logocarrusel mt-1 ms-2">
                          </button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="experience-slide-one row h-100 align-items-center">
                                <div class="col-md-5">
                                    <div class="experience-slide-img">
                                        <img class="rounded img-fluid w-75" src="../img/logos/gmail-min.png" alt="">
                                    </div>
                                </div>
    
                                <div class="col-md-7">
                                    <div class="experience-slide-text">
                                        <h3>febrero del 2018</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, impedit? Inventore, ipsum. Ullam, itaque. Repellendus atque ea, officiis eius mollitia excepturi qui, corrupti animi similique at reprehenderit quia magni repudiandae.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas, facere iure hic quas magni unde porro reiciendis laborum? Corrupti unde voluptatum deserunt sint. Vitae veritatis non optio aut praesentium.
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate facilis atque dolorem voluptas magnam, non, nam quos saepe, fuga sapiente laboriosam odio quas. Accusamus modi voluptate nesciunt delectus magni.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
    
                          <div class="carousel-item">
                            <div class="experience-slide-one row h-100 align-items-center">
                                <div class="col-md-5">
                                    <div class="experience-slide-img">
                                        <img class="rounded img-fluid w-75" src="../img/logos/gmail-min.png" alt="">
                                    </div>
                                </div>
    
                                <div class="col-md-7">
                                    <div class="experience-slide-text">
                                        <h3>febrero del 2019</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, impedit? Inventore, ipsum. Ullam, itaque. Repellendus atque ea, officiis eius mollitia excepturi qui, corrupti animi similique at reprehenderit quia magni repudiandae.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas, facere iure hic quas magni unde porro reiciendis laborum? Corrupti unde voluptatum deserunt sint. Vitae veritatis non optio aut praesentium.
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate facilis atque dolorem voluptas magnam, non, nam quos saepe, fuga sapiente laboriosam odio quas. Accusamus modi voluptate nesciunt delectus magni.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="carousel-item">
                            <div class="experience-slide-one row h-100 align-items-center">
                                <div class="col-md-5">
                                    <div class="experience-slide-img">
                                        <img class="rounded img-fluid w-75" src="../img/logos/gmail-min.png" alt="">
                                    </div>
                                </div>
    
                                <div class="col-md-7">
                                    <div class="experience-slide-text">
                                        <h3>febrero del 2020</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, impedit? Inventore, ipsum. Ullam, itaque. Repellendus atque ea, officiis eius mollitia excepturi qui, corrupti animi similique at reprehenderit quia magni repudiandae.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas, facere iure hic quas magni unde porro reiciendis laborum? Corrupti unde voluptatum deserunt sint. Vitae veritatis non optio aut praesentium.
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate facilis atque dolorem voluptas magnam, non, nam quos saepe, fuga sapiente laboriosam odio quas. Accusamus modi voluptate nesciunt delectus magni.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
    
                          <div class="carousel-item">
                            <div class="experience-slide-one row h-100 align-items-center">
                                <div class="col-md-5">
                                    <div class="experience-slide-img">
                                        <img class="rounded img-fluid w-75" src="../img/logos/gmail-min.png" alt="">
                                    </div>
                                </div>
    
                                <div class="col-md-7">
                                    <div class="experience-slide-text">
                                        <h3>febrero del 2020</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, impedit? Inventore, ipsum. Ullam, itaque. Repellendus atque ea, officiis eius mollitia excepturi qui, corrupti animi similique at reprehenderit quia magni repudiandae.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas, facere iure hic quas magni unde porro reiciendis laborum? Corrupti unde voluptatum deserunt sint. Vitae veritatis non optio aut praesentium.
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate facilis atque dolorem voluptas magnam, non, nam quos saepe, fuga sapiente laboriosam odio quas. Accusamus modi voluptate nesciunt delectus magni.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
    
                          <div class="carousel-item">
                            <div class="experience-slide-one row h-100 align-items-center">
                                <div class="col-md-5">
                                    <div class="experience-slide-img">
                                        <img class="rounded img-fluid w-75" src="../img/logos/gmail-min.png" alt="">
                                    </div>
                                </div>
    
                                <div class="col-md-7">
                                    <div class="experience-slide-text">
                                        <h3>febrero del 2020</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, impedit? Inventore, ipsum. Ullam, itaque. Repellendus atque ea, officiis eius mollitia excepturi qui, corrupti animi similique at reprehenderit quia magni repudiandae.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas, facere iure hic quas magni unde porro reiciendis laborum? Corrupti unde voluptatum deserunt sint. Vitae veritatis non optio aut praesentium.
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate facilis atque dolorem voluptas magnam, non, nam quos saepe, fuga sapiente laboriosam odio quas. Accusamus modi voluptate nesciunt delectus magni.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <hr>    
                      <!--impacto ambiental-->
                      <div class="row p-2 mt-2 text-center">
                        <div class="col-sm-12 col-md-6 col-lg-8 m-auto text-center">
                          <h2 class="fw-bold">CONOCE NUESTRO COMPROMISO AMBIENTAL</h2>
                        </div>
                      </div>

                      <div class="row p-2 mt-2 text-center">
                        <div class="col-sm-12 col-md-6 col-lg-8 m-auto">
                            <p>
                                Realizamos aprovechamiento de material reciclable y nuestros residuos son aprovechados por empresas aliadas para la reincorporación de dichos elementos, como materia prima en nuestra cadena de valor.
                            </p>
                        </div>
                    </div>

                    <div class="row pt-5 ms-5">
                        <div class="col ms-5 " id="TextoIndex3">
                            <img src="../img/TimeLineImg/politica-min.PNG" class="w-75 rounded-4  " alt="..." > 
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 p-5 m-auto " id="TextoIndex4">
                            <h3 class="fw-bold">Nuestra politica ambiental</h3>
                           <p>La empresa establece un marco común para la definición de programas, definición de objetivos y realización de actividades, que contribuyan con el sistema de gestión ambiental, que lleven a la organización a la mejora continua. Para cumplir estos compromisos R. Savilla ha establecido los siguientes objetivos y principios</p>
                        
                        </div> 
                    </div>

                    <div class="row pt-3 mt-3 mb-2 rounded-5 objetivos CambioColor1">
                        <div class="col-sm-12 col-md-6 col-lg-11 m-auto text-center">
                            <h3 class="fw-bold">| Objetivo General |</h3>
                           <p>Promover el manejo de residuos por medio de reciclaje y separación adecuada, obteniendo alternativas eficientes de aprovechamiento, que incorporen estos materiales nuevamente a la cadena de valor de distintos productos, gestionando materiales a través de una economía circular, procurando el ahorro de agua y energía.</p>
                        </div> 
                    </div>

                    <div class="row text-center pt-5 mb-3">
                        <div class="col m-auto">
                          <iframe width="1154" height="558" src="https://www.youtube.com/embed/5M-DtIU4zgY" class="rounded-5 w-75" title="R savilla sas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                      </div>  

                    <hr>
                    <div class="row p-2 mt-2 text-center">
                        <div class="col-sm-12 col-md-6 col-lg-8 m-auto text-center">
                          <h2 class="fw-bold">MÁS INFORMACIÓN SOBRE NOSOTROS...</h2>
                        </div>
                    </div>

                    <div class="row m-3 pt-5 bic rounded-4 objetivos CambioColor1" style="box-shadow: 10px 10px;">
                        <div class="col-sm-12 col-md-6 col-lg-6 m-auto p-5">
                            <h3 class="fw-bold">Hacemos parte</h3>
                           <p>Estamos inscritos y hacemos parte del programa de negocios verdes reconocido por la Secretaría Distrital de Ambiente.</p>
                        
                        </div>
                        <div class="col  ms-5">
                            <img src="../img/TimeLineImg/NEGOCIOSVERDES-min.png" class="mb-5 rounded-4 w-100" alt="..." width="510" height="360"> 
                        </div>
                    </div>
                    <div class="row m-3 pt-5 rounded-4 objetivos CambioColor1" style="box-shadow: 10px 10px;">
                        <div class="col  ms-5">
                            <img src="../img/TimeLineImg/pread-min.png" class="mb-5 rounded-4 w-100 " alt="..."  height="360"> 
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 m-auto p-5">
                            <h3 class="fw-bold">Somos PREAD</h3>
                           <p> Realizamos nuestro sistema de gestión ambiental en acompañamiento y participación de programas de reconocimiento de la Secretaría de Ambiente de Bogotá. Programa de Excelencia Ambiental</p>
                        </div>  
                    </div>
                    <br>
                            
            </div>
        </main>
    </div>

    


    <!--Footer-->
    <footer class="footer mt-5 rounded-top-3 pt-3 pb-3">
      <div class="container-fluid">
          <div class="row text-center pt-3">
              <div class="col-sm-12 col-md-6 col-lg-2">
                  <a href="https://www.facebook.com/RSavillaSASBIC"><img src="../img/logos/facebook-min.png" class="img-fluid" alt="..." width="80" height="100"></a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2">
                <a href="https://www.instagram.com/r.savillasas/"><img src="../img/logos/instagram-min.png" class="img-fluid" alt="..." width="80" height="100"></a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2">
                <a href="https://www.linkedin.com/404/"><img src="../img/logos/linkedin-min.png" class="img-fluid" alt="..."width="80" height="100"> </a> 
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <p>
                      Medios de contacto <br> 
                      <img src="../img/logos/logotipo-de-gmail-min.png" alt="img-fluid" width="20" height="20"> reciclajesavilla@hotmail.com<br>
                      <img src="../img/logos/llamada-telefonica-min.png" alt="img-fluid" width="20" height="20"> +57 3508382046
                  </p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <p>
                      Nuestras Sedes <br>
                      Patio Bonito Cra 86B # 42-06 Sur <br>
                  </p>
              </div>
          </div>

        </div>
  </footer>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
 <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>